
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
 
body{
  background:compu.jpg;
}
 
.container{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 
.login-container{
  display: flex;             
  width: 760px;
  height: auto;
  background: rgb(0, 174, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  border-radius: 20px;
}
 
.register, .login{
  flex: 1;
}
 
.register{
  padding: 40px;
  position: relative;
}
 
.register h2{
  color: blue;
  margin-bottom: 50px;
}
 
.register input{
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 35px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
  border-radius: 20px;
}
 
.register input:active,
.register input:focus{
  outline: none;
}
 
.register .submit{
  width: auto;
  padding: 10px;
  background: blue;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}
 
.register::after{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
  color: #7c7c7c;
}
 
.login{
  background-image: linear-gradient(to bottom right, rgb(0, 174, 255), black);
  padding: 20px;
  border-radius: 20px;
  
  }
 
.login h2{
  color:blue ;
  margin-bottom: 80px;
  
}
 
}
 
  .register, .login{
    flex: none;
    padding: 200px;
  }
   
  main .sectionButton {
    display: -ms-grid;
    display: grid;
    margin-top: 20px;
    color: blue;
    
  }
    
  main button {
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    font-size: 15px;
    color: blue;
  }
  main section {
    display: -ms-grid;
    display: grid;
    width: 20%;
    padding: 15px;
    font-size: 20px;
    color:blue;
    border-radius: 20px;
    
  }
  
  main section input {
    font-size:20px;
    border-radius: 10px;
    
  }
  
  main .sectionButton {
    display: -ms-grid;
    display: grid;
    margin-top: 20px;
    color: blue;
  }
  
  main button {
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    width: 50px;
    font-size: 15px;
   
  }
  
 
}